{% extends 'RaindropPageBundle:Block:dashboard_block.html.twig' %}

{% block title %}{{ 'Switch country'|trans }}{% endblock %}

{% block content %}

    {% include 'RaindropPageBundle:Admin:country_menu.html.twig' %}

    <br><br>

    {% if raindrop_admin_current_country is not empty %}
        <strong>Selected: <a>{{ raindrop_admin_current_country }}</a></strong>
    {% endif %}
{% endblock %}
