Twig variables:

{% for variable in variables %}
    <span class="label">{{ variable }}</span>
{% endfor %}

{% for variable in alreadyBound %}
    <span class="label label-success">{{ variable }}</span>
{% endfor %}
