
<div class="row-fluid">
    <div class="span4"></div>
    {% include 'RaindropPageBundle:Page:page_block_list.html.twig' with { 'layout': 'top' } %}
</div>
<div class="row-fluid"></div>
<div class="row-fluid"></div>
<div class="row-fluid">
    {% include 'RaindropPageBundle:Page:page_block_list.html.twig' with { 'layout': 'left' } %}
    {% include 'RaindropPageBundle:Page:page_block_list.html.twig' with { 'layout': 'content' } %}
    {% include 'RaindropPageBundle:Page:page_block_list.html.twig' with { 'layout': 'right' } %}
</div>
<div class="row-fluid"></div>
<div class="row-fluid"></div>
<div class="row-fluid">
    <div class="span4"></div>
    {% include 'RaindropPageBundle:Page:page_block_list.html.twig' with { 'layout': 'bottom' } %}
</div>


{# Twitter bootstrap modal wrapper #}
{% for block in object.getChildren() %}
    <div id="editModal{{ block.getId() }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-body"></div>
    </div>

    <div id="previewModal{{ block.getId() }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-body"></div>
    </div>
{% endfor %}