/*
    Document   : pageAdmin
    Created on : Mar 17, 2013, 12:56:45 PM
    Author     : teito
    Description:
        Purpose of the stylesheet follows.
*/

#tabLayout .row-fluid {
    margin-top: 12px;
}

#tabLayout .draggable-block {
    background: #ABD7EB;
    min-height: 40px;
    padding-top: 36px;

    /*box-shadow: 0 1px 2px #ddd;*/
}

#tabLayout .page-layout {
    padding: 0 4px 4px;
}

#tabLayout .row-fluid.draggable-block .span1,
#tabLayout .row-fluid.draggable-block .span2,
#tabLayout .row-fluid.draggable-block .span4,
#tabLayout .row-fluid.draggable-block .span5 {
    padding: 8px;
}

.row-fluid.draggable-source-block .span12 {
    padding: 0 8px;
    text-align: center;
}

.row-fluid.draggable-source-block .span12 p {
    margin: 4px 0 0;
}

.row-fluid.draggable-source-block .span12 a.pull-left {
    margin-top: 5px;
    /*display: none;*/
}

.row-fluid.draggable-source-block:hover .span12 a.pull-left {
    display: block;
}

.row-fluid .block-source {
    display: none;
    position: absolute;
    right: 0;
    margin: 10px 20px 0 0;
    z-index: 10;
}

.raindrop-layout-droppable {
    background: #E6F1F6;
}

.block-source .row-fluid.hover,
#tabLayout .row-fluid.hover {
    background: #F0BBBB;
}

.row-fluid.draggable-source-block.fixed-width-200 {
    width: 260px;
    float: right;
}

#tabLayout .row-fluid.draggable-block .close {
    padding: 8px;
    opacity: 1;
    margin-top: 7px;
}

#tabLayout .row-fluid.draggable-block .pull-right {
    padding: 8px;
    /*margin-top: 2px;*/
}

#tabLayout .modal input[type='text'],
#tabLayout .modal textarea {
    width: 100%;
}

#tabLayout .modal .form-horizontal .control-label {
    width: 100px;
}

#tabLayout .modal .form-horizontal .controls {
    margin-left: 120px;
}

.draggable-block,
.draggable-source-block {
    /*border: solid 1px #ccc;*/
    position: relative;
}

.draggable-source-block {
    background: #ffffcc;
}

#tabLayout .ui-droppable.ui-state-highlight {
    border: 0;
    background: #ffffcc;
}

#tabLayout .draggable-block:hover .pageBlockToolbar {
    display: block;
}

#tabLayout .draggable-block p {
    margin: 0;
}

#tabLayout .row-fluid.draggable-source-block {
    margin-top: 2px;
}

#tabLayout .ui-sortable-placeholder {
    /*border: dashed 1px #ddd;*/
    background: #ffffcc;
    width: 438px;
    height: 41px;
    margin-top: 12px;
}

#tabMeta .sonata-ba-field-standard-natural input {
    width: 50%;
}

.modal form fieldset legend {
    line-height: 20px;
}

.modal-body form table td + td + td {
    width: 70%;
}

.modal .modal-body form table td textarea {
    min-height: 140px;
}

.pageBlockToolbar {
    /*display: none;*/
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 36px;
    /*background: #E6F1F6;*/
}

.pageBlockToolbar .label {
    margin: 8px 0 0 8px;
}

.page-layout-container {
    padding-bottom: 120px;
}

.raindropLabelContainer {
    margin-top: 6px;
}

.form-horizontal .raindropInput .raindropLabel {
    text-align: left;
}

.raindropInput {
    margin-top: 10px;
}

.raindropRemoveIcon {
    margin-top: 4px;
    padding-right: 10px;
}