/*
    Document   : pageAdmin
    Created on : Mar 17, 2013, 12:56:45 PM
    Author     : teito
    Description:
        Purpose of the stylesheet follows.
*/

#tab2 .row-fluid {
    margin-top: 12px;
    background: #f5f5f5;
}

#tab2 .row-fluid.draggable-block .span6,
#tab2 .row-fluid.draggable-source-block .span6 {
    padding: 8px;
}

#tab2 .row-fluid.hover {
    background: #F6F4F0;
}

#tab2 .row-fluid.draggable-source-block.fixed-width-200 {
    width: 400px;
}

#tab2 .row-fluid.draggable-block .close {
    padding: 8px;
}

#tab2 .modal {
    width: 800px;
    margin-left: -400px;
}

#tab2 .modal input[type='text'],
#tab2 .modal textarea {
    width: 100%;
}

#tab2 .modal .form-horizontal .control-label {
    width: 100px;
}

#tab2 .modal .form-horizontal .controls {
    margin-left: 120px;
}
