<li {% if node.hasMenuId() %}data-id="{{ node.getMenuId() }}"{% endif %}>
    <a title="{{ node.getTitle() }}" href="{% if node.hasMenuId() %}{{ path('admin_raindrop_page_menuentry_edit', { id: node.getMenuId() }) }}{% else %}javascript:;{% endif %}">{{ node.getPath() }}</a>

    {% if node.getChildren() is not empty %}
        <ul class="sortable">
            {% for child in node.getChildren() %}
                {% include 'RaindropPageBundle:Menu:menu_list.html.twig' with { 'node': child } %}
            {% endfor %}
        </ul>
    {% endif %}
</li>
