<td class="sonata-ba-list-field sonata-ba-list-field-{{ field_description.type }}" objectId="{{ admin.id(object) }}">
    {% if value is not empty %}
        <img width="250" src="/uploads/documents/{{ value }}" />
    {% endif %}
</td>